body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#wrapper {
    display: flex;
    height: 100vh;
}

#sidebar {
    position: sticky;
    top: 0;
    width: 20%;
    height: 100vh;
    overflow-y: auto;
    background-color: #808080;   
}

#main {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.sub-container {
    flex: 1;
    display: flex;
    overflow: auto;
}

.nested-container {
    flex: 1;
    border: 1px solid black;
    overflow: auto;
}


/* Add this to your CSS file */
.order-list-item {
    display: flex;
    justify-content: space-between; /* Align items with space between */
    align-items: center;
    margin-bottom: 10px;
  }
  
  .order-list-item button {
    background-color: #ff0000; /* Customize the button style */
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  