.container {
    display: flex;
    align-items: flex-start; /* Align items at the top of the container */
    height: 100vh; /* 100% of the viewport height */
}

.left-menu {
    flex: 1; /* Allow the left menu to grow and take 30% of the container width */
    background-color: #333;
    color: #fff;
    padding: 20px;
    height: 100vh; /* Set the height to 100% of the viewport height */
    overflow-y: auto; /* Add vertical scroll when content overflows */
}

.content {
    flex: 2; /* Allow the content area to grow and take 70% of the container width */
    background-color: #f2f2f2;
    padding: 20px;
}

/* Add this to your CSS file */
.order-list-item {
    display: flex;
    justify-content: space-between; /* Align items with space between */
    align-items: center;
    margin-bottom: 10px;
  }
  
  .order-list-item button {
    background-color: #ff0000; /* Customize the button style */
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  