.dimension-input {
  display: flex;
  align-items: center;
  position: relative;   
  margin-bottom: 10px;
}

.dimension-input label {
  flex: 1;
  margin-right: 10px;
  text-align: right;
}

.dimension-input input {
  flex: 1;
  padding: 5px;
  margin-right: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  border-color: red;
}

.error-group {
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
}


.error-message {
  color: red;
  font-size: 0.8em;
  display: none;
  white-space: nowrap;
  padding-left: 10px;
}

.error-group:hover .error-message {
  display: block;
}

.error-mark {
  color: red;
  cursor: pointer;
  font-weight: bold; /* Make it thick */
  font-size: large; /* Make it large */
  padding: 10px; /* Add some space around it for ease of mouse movement */
}

/* Add this new css class */
@keyframes blink {
  0% { background-color: white; }
  50% { background-color: #ffffb3; }
  100% { background-color: white; }
}

.dimension-input.has-error input {
  animation: blink 0.5s infinite;
}