.error-icon {
    position: absolute;
    top: 0;
    right: 5px;
    display: inline-block;
    cursor: pointer;
  }
  
  .error-message {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #d9534f;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }
  
  .error-icon-content {
    color: #d9534f;
    font-size: 18px;
    line-height: 1;
  }
  