.dimension-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .dimension-input label {
    flex: 1;
    margin-right: 10px;
    text-align: right;
  }
  
  .dimension-input input {
    flex: 1;
    padding: 5px;
    margin-right: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .error {
    border-color: red;
  }
  .error-message {
    color: red;
    font-size: 0.8em;
  }

  